@tailwind base;
@tailwind components;
@tailwind utilities;

.trafficLight {
    width: fit-content;
    height: fit-content;
}

.bg-gray {
    background-color: gray;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.bg-red {
    background-color: red;
}